@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-vibrant: #bc1e1e;
  --color-soft: oklch(0.76 0.12 25);
  --color-pale: oklch(0.88 0.06 25);
  --color-whisper: #fff5f3;
  --color-creme: #F9F8F6;
}