---
import { getCollection } from "astro:content";
import { Container } from "@/components/ui/container";
import { MenuApp } from "@/components/MenuApp";
import LikedDishes from "@/components/LikedDishes.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { OpeningHours } from "@/components/OpeningHours";

const sections = await getCollection("menu");
const menu = sections.map((section) => ({
  title: section.data.title,
  id: section.data.id,
  order: section.data.order,
}));
---

<RootLayout
  title="Cherry Woken 2 Meny - Komplett Lista på Alla Rätter"
  description="Inofficiell sida med Cherry Woken 2:s kompletta meny. Utforska alla asiatiska rätter och priser"
>
  <Fragment slot="head">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Cherry Woken 2 Meny",
        "about": {
          "@type": "FoodEstablishment",
          "name": "Cherry Woken 2",
          "servesCuisine": "Asiatisk"
        }
      }
    </script>
  </Fragment>
  <Container className="flex flex-col md:flex-row mt-8 lg:mt-10">
    <main class="flex flex-col flex-1 order-2 md:order-1">
      <nav>
        <ul class="flex flex-wrap gap-x-4 gap-y-6">
          {
            menu
              .sort((a, b) => a.order - b.order)
              .map(({ id, title }) => (
                <li>
                  <a
                    class="text-vibrant border border-vibrant hover:border-b-2 px-4 py-2"
                    href={`#${id}`}
                  >
                    {title}
                  </a>
                </li>
              ))
          }
        </ul>
      </nav>
      <section class="mt-12">
        <div class="flex flex-col md:flex-row space-y-4">
          <div class="flex flex-col order-2 md:order-1">
            <div class="flex border border-vibrant px-4 py-2 flex-col">
              <p class="font-medium text-vibrant">
                Dagens lunch: måndag-fredag 11.00 - 14.00
              </p>
            </div>
            <div class="mt-2 text-sm space-y-1 italic">
              <p>Välj bland alla varmrätter i menyn</p>
              <p>Dryck ingår</p>
            </div>
          </div>
          <div class="inline-flex md:ml-auto order-1 mb-4 lg:mb-0">
            <OpeningHours client:load />
          </div>
        </div>
      </section>
      <section class="mt-2">
        <MenuApp client:load menu={sections} />
      </section>
    </main>
    <LikedDishes />
  </Container>
</RootLayout>
