---
import { getCollection } from "astro:content";
import { Container } from "@/components/ui/container";
import { MenuApp } from "@/components/MenuApp";
import LikedDishes from "@/components/LikedDishes.astro";
import RootLayout from "../layout/RootLayout.astro";

const sections = await getCollection("menu");
const menu = sections.map((section) => ({
  title: section.data.title,
  id: section.data.id,
  order: section.data.order,
}));
---

<RootLayout>
  <Container className="flex flex-col md:flex-row">
    <main class="flex flex-col flex-1 order-2 md:order-1">
      <nav>
        <ul class="flex flex-wrap gap-x-2 gap-y-6">
          {
            menu
              .sort((a, b) => a.order - b.order)
              .map(({ id, title }) => (
                <li>
                  <a
                    class="bg-neutral-50 border border-neutral-300 hover:border-neutral-500 px-4 py-2"
                    href={`#${id}`}
                  >
                    {title}
                  </a>
                </li>
              ))
          }
        </ul>
      </nav>
      <section class="mt-8">
        <div class="flex flex-col space-y-2">
          <p class="italic text-sm">Innehåll senast kontrollerad: 2025-11-16</p>
          <p class="italic text-sm">
            Notera att denna sida inte ägs eller underhålls av Cherry Woken.
            Information kan vara felaktig.
          </p>
        </div>
      </section>
      <section class="mt-4">
        <MenuApp client:load menu={sections} />
      </section>
    </main>
    <LikedDishes />
  </Container>
</RootLayout>
