---
import { Container } from "@/components/ui/container";
---

<header class="py-6">
  <Container>
    <div class="flex items-center justify-between">
      <a href="/" class="font-semibold text-vibrant text-2xl">Cherry Woken</a>
      <a href="tel:+46707404752">070 - 740 47 52</a>
    </div>
  </Container>
</header>
