---
import Container from "@/components/Container.astro";
---

<header class="py-6">
  <Container>
    <div class="flex items-center justify-between">
      <h1 class="font-medium text-xl">Cherry Woken</h1>
      <a href="tel:+46707404752">070 - 740 47 52</a>
    </div>
  </Container>
</header>
