---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Header from "@/components/Header.astro";
import { Container } from "@/components/ui/container.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meny | Cherry Woken 2</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e0b6fed2-5982-427a-98fb-358abf64449d"></script>
  </head>
  <body class="flex flex-col bg-creme min-h-screen relative">
    <Header />
    <slot />
    <footer class="mt-auto">
      <Container
        className="flex flex-col text-center space-y-1 items-center justify-center py-8 border-t border-neutral-300"
      >
        <p>
          Denna sida är inte på något sätt associerad med Cherry Woken. Den
          drivs helt och hållet fristående.
        </p>
        <p>
          Skapad av: <a
            class="text-blue-600 hover:underline"
            href="https://github.com/fjohanssondev">@fjohanssondev</a
          >
        </p>
      </Container>
    </footer>
  </body>
</html>

<style>
  body {
    font-family: "Space Grotesk Variable", sans-serif;
  }
</style>
